{% if fabricante.slug %}
<style type="text/css">
.logo {

    background: #777 url(/media/{{fabricante.foto}}) no-repeat center center;
    background-size: 70px 70px;
}
</style>
<header class="banner">
        <div class="logo"></div>
        <h1>Fabricantes -> {{fabricante.titulo}}</h1>
</header>
{%endif%}
{%if categoria.slug%}
<header class="banner">
        <div class="logo"></div>
        <h1>Categorias -> {{categoria.titulo}}</h1>
</header>
{%endif%}
{%if home == True %}
<header class="banner">
        <div class="logo"></div>
        <h1>IMPROSELEC S.A.</h1>
        <h2>Con amplia experiencia en el mercado, somos una empresa consolidada en insumos eléctricos en Guayaquil.</h2>
        <a class="accionC" href="#" onclick="left()">Catálogo</a>
</header>
{%endif%}