{% include 'blog/modules/_info.html' %}
<footer>
        <div class="footerBar">
            <p>Improselec S.A. Empresa de Insumos Eléctricos en Guayaquil</p>
            <a href="#" class="locacion">Ecuador<span></span></a>
        </div>
</footer>