<nav class="info">
	{%for red in red%}
        <a id="red{{red.id}}" href="{{red.link}}" target="_blank"><p>{{red.titulo}}</p></a>
    
        <style type="text/css">
        	#red{{red.id}}{
        		background: url(/media/{{red.foto}}) no-repeat left 5px center;
        		background-size: 25px 25px;
        	}
        </style>
    {%endfor%}
</nav>