{%if producto.slug or a == 1 %}
<nav class="leftClose" id="left">
{%else%}
<nav class="left" id="left">
{%endif%}

<h5>Encuentra Productos por Categoría</h5>
        {% for categoria in categoria %}
        {%if categoria.padre == null %}
        <a id="cat{{categoria.id}}" href="{% url 'blog.categoria_detail' categoria.slug %}" class="li00">{{categoria.titulo}}</a>
            {% for categoria01 in categoria01 %}
            {%if categoria.id == categoria01.padre.id %}
            <a id="cat{{categoria01.id}}" href="{% url 'blog.categoria_detail' categoria01.slug %}" class="li01">{{categoria01.titulo}}</a>

                {% for categoria02 in categoria02 %}
                {%if categoria01.id == categoria02.padre.id %}
                <a id="cat{{categoria02.id}}" href="{% url 'blog.categoria_detail' categoria02.slug %}" class="li02">-> {{categoria02.titulo}}</a>

                    {% for categoria03 in categoria03 %}
                    {%if categoria02.id == categoria03.padre.id %}
                    <a id="cat{{categoria03.id}}" href="{% url 'blog.categoria_detail' categoria03.slug %}" class="li03">-> {{categoria03.titulo}}</a>
                    {%endif%}
                    {%endfor%}

                {%endif%}
                {%endfor%}

            {%endif%}
            {%endfor%}
        {%endif%}
        {%endfor%}
 
    </br>
    </br>
    </br>
    </br>
    </nav>