<section class="marcas">
        {%for fabricante in fabricante%}
        <a href="{% url 'blog.fabricante_detail' fabricante.slug %}"><article>
            {%if fabricante.foto%}
            <img src="/media/{{fabricante.foto}}">
            {%else%}
            <img src="/static/img/logo.png">
            {%endif%}
            <h2>{{fabricante.titulo}}</h2>
        </article></a>
        {%endfor%}
    </section>