{% if producto.slug %}

{% if producto.fabricante.foto %}
<style type="text/css">
#fab{{producto.id}}{
    background: #333 url(/media/{{producto.fabricante.foto}}) no-repeat center center;
    background-size: 30px 30px;
}
</style>
{%endif%}

<section class="producto">
        <section class="img">
        {%if producto.foto %}
            <img src="/media/{{producto.foto}}">
            {% else %}
                {% if producto.fabricante.foto %}
                <img src="/media/{{producto.fabricante.foto}}">   
                {%else%}
                <img src="/static/img/logo.png">
                {%endif%}
            {%endif%}
        </section>
        <article>
            <h2>{{producto.titulo}}</h2>
            <p>Descripción: </br>{{producto.descripcion}}</p>
        </br>
        {%if producto.precio and producto.oferta == True %}
            <strong>Oferta: {{producto.precio}}</strong>
        {%endif%}
            {%if producto.codigoLocal%}
            </br>
            <strong>Cod L: {{producto.codigoLocal}}</strong>
            {%endif%}
            {%if producto.codigoUniversal%}
            </br>
            <strong>Cod U: {{producto.codigoUniversal}}</strong>
            {%endif%}
            </br>
            </br>
            {%if producto.categoria%}
            <h3>Categoría: {{producto.categoria}}</h3>
            {%endif%}
            <h4><span class="fab" id="fab{{producto.id}}"></span>Fabricante: {{producto.fabricante}}</h4>
            <a class="accion" href="{% url 'blog.contacto' %}">Información</a>
        </article>
    </section>
{% else %}

<section class="producto">
<p class="tituloOferta" id="oferta">Conoce nuestras ofertas</p>

    {%for producto in producto %}
        {% if producto.oferta == True %}
        <a href="{% url 'blog.producto_detail' producto.slug %}">
        <section class="oferta">
            <section class="img">
            <img src="/media/{{producto.foto}}">
            </section>
            <article>
                <h2>{{producto.titulo}}</h2>
                <p>{{producto.descripcion}}</p>
                <a class="accion" href="{% url 'blog.producto_detail' producto.slug %}" >Oferta {{producto.precio}}</a>
            </article>
        </section></a>
        {%endif%}
    {%endfor%}
</section>
{%endif%}