<section class="productos">
{%if home == True%}
	{% for producto in producto %}
	{%if producto.destacado == True%}	        

	    {%if fabricante.slug%}
	        {%if producto.fabricante.slug == fabricante.slug%}
	          {% include 'blog/modules/_producto.html' %}
	        {%endif%}
	    {%else%}
	    	{%if categoria.slug%}
		        {%if producto.categoria.slug == categoria.slug%}
		          {% include 'blog/modules/_producto.html' %}
		        {%endif%}

		     {%else%}
		     {% include 'blog/modules/_producto.html' %}
			{%endif%}
	        
	    {%endif%}

	 {%endif%}
	{%endfor%}


{%else %}

	{% for producto in producto %}	        

	    {%if fabricante.slug%}
	        {%if producto.fabricante.slug == fabricante.slug%}
	          {% include 'blog/modules/_producto.html' %}
	        {%endif%}
	    {%else%}
	    	{%if categoria.slug%}
		        {%if producto.categoria.slug == categoria.slug%}
		          {% include 'blog/modules/_producto.html' %}
		        {%endif%}

		     {%else%}
		     {% include 'blog/modules/_producto.html' %}
			{%endif%}
	        
	    {%endif%}

	{%endfor%}

<nav>
            {% if is_paginated %}
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                    {% endif %}

                    {% for i in paginator.page_range %}
                        <li {% if page_obj.number == i %} class="active" {% endif %}>
                            <a href="?page={{i}}">{{ i }}</a>
                        </li>
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                    {% endif %}
                </ul>
            {% endif %}
        </nav>

{%endif%}
</section>