{% if producto.fabricante.foto %}
        <style type="text/css">
        #fab{{producto.id}}{
            background: #333 url(/media/{{producto.fabricante.foto}}) no-repeat center center;
            background-size: 30px 30px;
            
        }
        </style>
{%endif%}

        <a href="{% url 'blog.producto_detail' producto.slug %}">
        <article>
        {%if producto.foto %}
        <img src="/media/{{producto.foto}}">
        {% else %}
            {% if producto.fabricante.foto %}
            <img src="/media/{{producto.fabricante.foto}}">{%else%}
            <img src="/static/img/logo.png">
            {%endif%}
        {%endif%}
        <h2>{{producto.titulo}}</h2>
        {%if producto.categoria%}
        <h3>{{producto.categoria}}</h3>
        {%endif%}
        <h4><span class="fab" id="fab{{producto.id}}"></span>{{producto.fabricante}}</h4>
        <a class="accion" href="{% url 'blog.producto_detail' producto.slug %}">Información</a>
        </article>
        </a>