<nav class="top">
        <a id="icon01" href="#" class="menu" onclick="left()"></a>
        <a id="icon02" href="/" class="inicio"><span></span>Improselec S.A.</a>
        <div class="centerTop">
        <a id="icon03" href="{% url 'blog.somos' %}">Quienes Somos</a>
        <a id="icon04" href="{% url 'blog.pro_list' %}">Productos</a>
        <a id="icon05" href="/#oferta">Ofertas</a>
        <a id="icon06" href="{% url 'blog.articulo_list' %}">Blog</a>
        <a id="icon07" href="{% url 'blog.contacto' %}">Contacto</a>
        </div>
        <a id="icon08" href="/panel" target="_blank" class="admin"></a>
</nav>