{% extends 'blog/base_blog.html' %}

{% block title %}{% for config in config %}{{config.webName}}{% endfor %}{% endblock title %}

{% block blog_content %}

 <section class="portada" id="portada">
    {% include 'blog/modules/_top.html' %}

    {% include 'blog/modules/_left.html' %}

    <section class="somos">

    	<h2 class="titulo">¿Quienes Somos?</h2>

    	<div class="derecha">
    	<article class="slogan">
    		<span>Nuestro Slogan</span>
    		<h2>¡Este es nuestro gran slogan que atrae grandes multitudes de clientes que pronto estarán muy satisfechos!</h2>
    	</article>
    	</div>

    	<div class="izquierda">
    	<article class="valores">
    		<span>Nuestros Valores</span>
    		<p><strong>Valor corporativo 1</strong>nuestra sinceridad es lo maximo</p>
    		<p><strong>Valor corporativo 1</strong>nuestra sinceridad es lo maximo</p>
    		<p><strong>Valor corporativo 1</strong>nuestra sinceridad es lo maximo</p>
    		<p><strong>Valor corporativo 1</strong>nuestra sinceridad es lo maximo</p>
    	</article>

    	<article class="mision">
    		<span>Nuestra Misión</span>
    		<h3>Nuestra misión es construir una plataforma global donde comprar articulos electricos del ecuador</h3>
    	</article><article class="vision">
    		<span>Nuestra Visión</span>
    		<h3>Nuestra misión es construir una plataforma global donde comprar articulos electricos del ecuador</h3>
    	</article>
    	</div>

    	<div class="video">
            <span>En video</span>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/FAFFfiUZQ0Y" frameborder="0" allowfullscreen></iframe>
        </div>
    </section>



    {% include 'blog/modules/_footer.html' %}
</section>

{% endblock blog_content %}