/* GLOBAL CONFIGURATION */
@font-face {
    font-family: 'oswald';
    src: url('../fonts/oswald-regular/oswald-regular-webfont.eot');
    src: url('../fonts/oswald-regular/oswald-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/oswald-regular/oswald-regular-webfont.woff') format('woff'),
         url('../fonts/oswald-regular/oswald-regular-webfont.ttf') format('truetype'),
         url('../fonts/oswald-regular/oswald-regular-webfont.svg#paktregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
a{
	color: #3361ff;
}
*{
	margin: 0;
	padding: 0;
	text-decoration: none;
  list-style: none;
  font-family: 'Roboto', sans-serif;
  -webkit-transition: All 0.2s ease;
-moz-transition: All 0.2s ease;
-o-transition: All 0.2s ease;
-ms-transition: All 0.2s ease;
transition: All 0.2s ease;
box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
body{
	background: #333;
}
*{
	text-decoration: none;
	padding:0;
	margin:0;
}
.centerTop{
	display: inline-block;
	margin: 0 auto;
	text-align: center;
}
.mapLeft{
	height: 300px;
	background: #333;
}
.mapRight{
	height: 300px;
	background: #000
}
.publicidad img{
	width: auto;
	max-width: 90%;
	border-radius: 5px;
}

.tiendas{
	background: rgba(0,0,0,0.2);
	padding: 5px;
	margin: 5px;
	border-radius: 5px;
}
.tiendas h2{
	font-family: oswald;
	font-weight: normal;
	font-size: 18px;
	padding-left: 40px;
	height: 50px;
	background: url(../img/icons/100.png) no-repeat left center;
	background-size: 40px;
}
.publicidad{
	text-align: center;
	background: #2e4453;
	padding: 10px;
}
.portadaClose{
	background: #333 url(/static/img/back01.jpg)no-repeat center center;
	background-size: 100% 100%;
	background-attachment: fixed;
	margin: 0;
	/*! padding: 20px; */
	padding-top: 39px;
	padding-left: 220px;
	padding-bottom:0px;
}
.portada{
	background: #333 url(/static/img/back01.jpg)no-repeat center center;
	background-size: 100% 100%;
	background-attachment: fixed;
	margin: 0;
	/*! padding: 20px; */
	padding-top: 39px;
	padding-left: 0px;
	padding-bottom:0px;
}
.leftClose{
	background: #222426;
	z-index: 1;
	left: 0;
	top: 40px;
	width: 220px;
	padding-top: 10px;
	height: 100%;
	position: fixed;
	overflow: auto;
	/*! padding-bottom: 200px !important; */
}
.left{
	background: #425463;
	z-index: 1;
	left: -100%;
	top: 40px;
	width: 220px;
	height: 100%;
	position: fixed;
	overflow: auto;
	/*! padding-bottom: 200px !important; */
}

.leftClose h5{
	color: #333;
	padding: 10px;
	padding-top: 60px;
	font-family: oswald;
	font-weight: normal;
	font-size: 14px;
	text-align: center;
	color: #fff;
	opacity: 0.4;
	border: 1px solid ;
	border-radius: 5px;
	margin: 10px;
	background: url(../img/icons/123.png) no-repeat top 10px center;
	background-size: 50px;
}
.top{
	width: 100%;
	background: #fff;
	text-align: center;
	position:fixed;
	top: 0;
	left: 0;
	z-index:1;
	/*! padding-left: 200px; */
	border-bottom: 1px solid #DEE8F3;
	opacity: 0.9;
	padding-right: 40px;
}
.top:hover{
	opacity: 1;
}
.top a{
	color: #6a7287;
	display: inline-block;
	padding: 9px 10px;
	padding-left: 24px;
	font-family: oswald;
	font-size:12px;
	text-transform: uppercase;
}
.top a:hover{
	color: #4b7cb4;
}
#icon03{
	background: url(../img/icons/164.png) no-repeat left center;
	background-size: 20px;
}
#icon04{
	background: url(../img/icons/29.png) no-repeat left center;
	background-size: 20px;
}
#icon05{
	background: url(../img/icons/87.png) no-repeat left center;
	background-size: 20px;
}
#icon06{
	background: url(../img/icons/13.png) no-repeat left center;
	background-size: 20px;
}
#icon07{
	background: url(../img/icons/97.png) no-repeat left center;
	background-size: 20px;
}
.inicio span{
	display: inline-block;
	vertical-align: middle;
	height: 30px;
	width: 30px;
	background: #777 url(/static/img/logo.png) no-repeat center center;
	background-size: 50px 50px;
	border-radius: 50%;
	margin-right: 5px;
}
.inicio{
	color: #4b7cb4!important;
	position:absolute;
	left: 90px;
	top: -5px;
}
.inicio:hover{
	background: rgba(0,0,0,0.1)
}
.menu{
	display: inline-block;
	vertical-align: middle;
	height: 30px;
	border-radius: 5px;
	width: 60px;
	background: #333DFF  url(/static/img/icons/22.png) no-repeat center center;
	background-size: 30px 30px;
	margin-right: 5px;
	margin-left: 20px;
	position: absolute;
	left: 0;
	top: 5px;
}
.menu:hover{
	background: #333DFF url(/static/img/icons/22.png) no-repeat center center;
	background-size: 33px 33px;
}
.admin{
	display: inline-block;
	vertical-align: middle;
	position: absolute;
	right: 3px;
	top: 3px;
	height: 30px;
	width: 30px;
	background: #fff url(/static/img/icons/72.png) no-repeat center center;
	background-size: 30px 30px;
	margin-right: 5px;
	margin-left: 20px;
}
.admin:hover{
	background: #fff url(/static/img/icons/72.png) no-repeat center center;
	background-size: 33px 33px;
}
.logo{
	width: 100px;
	height: 100px;
	background: #777 url(/static/img/logo.png) no-repeat center center;
	background-size: 100px 100px;
	margin: 10px auto;
	border-radius: 5px;
	border: 10px solid rgba(255,255,255,0.3);
	display: inline-block;
	vertical-align: middle;
}
.banner{
	background: rgba(8, 26, 47, 0.59);
	text-align: center;
	padding: 10px 20px;
}
.banner h1{
	color: #fff;
	font-size: 22px;
	padding: 5px;
	font-family: oswald;
	font-weight: normal;
	display: inline-block;
	vertical-align: middle;
}
.banner h2{
	color: rgba(255, 255, 255, 0.86);
	font-size: 18px;
	font-weight: normal;
	padding: 5px;
	font-family: oswald;
}
.accion{
	display: inline-block;
	background: #33a9ff;
	padding: 10px 20px;
	border-radius: 5px;
	color: #fff;
	font-weight: bold;
	margin: 10px;
	font-family: oswald;
	font-size: 16px;
}
.accion:hover{
	background: #3361ff;
}
.accionC{
	display: inline-block;
	background: #333DFF url(/static/img/icons/22.png) no-repeat left 5px center;
	background-size: 33px 33px;
	padding: 10px 20px;
	padding-left: 40px;
	border-radius: 5px;
	color: #fff;
	font-weight: bold;
	margin: 10px;
	font-family: oswald;
	font-size: 16px;
}
.accionC:hover{
	background: #333dff url(/static/img/icons/22.png) no-repeat left 5px center;
	background-size: 33px 33px;
}
.marcas{
	background: rgba(1, 8, 24, 0.9);
	text-align: center;
	padding-top: 10px;
}
.titulo01{
	padding: 10px;
	color: #fff;
	font-size: 16px;
	background: rgba(1, 8, 24, 0.9);
	margin:0;
	/*! margin-bottom: 10px; */
	font-family: oswald;
	font-weight: normal;
	text-align: center;
}
.titulo02{
	padding: 10px;
	color: #fff;
	font-size: 16px;
	background: #3361ff;
	margin:0;
	/*! margin-bottom: 10px; */
	font-family: oswald;
	font-weight: normal;
	/*! border-radius: 5px; */
	text-align: center;
}
.marcas article{
	display: inline-block;
	/*! background: rgba(0,0,0,0.1); */
	text-align: center;
	margin: 3px;
	opacity: 0.8;
	border-radius:50%;
	margin-bottom: 10px;
}
.marcas article:hover{
	opacity: 1;
}
.marcas article img{
	background: #333;
	height: 70px;
	width: 70px;
	border-radius: 50%;
}
.marcas article h2{
	font-size: 16px;
	color: #fff;
	padding: 5px;
	font-family: oswald;
	font-weight: normal;
}
footer{
	background: #000;
}
.productos{
	background: #e9eff3;
	text-align: center;
	padding: 10px;
}
.productos article{
	display: inline-block;
	background: rgb(255, 255, 255);
	padding: 10px;
	margin: 3px;
	border-radius: 3px;
	text-align: left;
	opacity: 0.8;
	width: 170px;
	vertical-align: top;
}
.productos article:hover{
	opacity:1;
}
.productos article img{
	width: 150px;
	height: 150px;
}
.productos article h2{
	font-family: oswald;
	font-weight: normal;
	font-size: 18px;
}
.productos article h3{
	font-family: roboto;
	font-weight: normal;
	font-size: 16px;
	padding: 5px;
	background: #EBF2F6;
	display: inline-block;
	border-radius: 5px;
	color: #4b7cb4;
}
.productos article h4{
	font-family: roboto;
	font-weight: normal;
	font-size: 16px;
	padding: 3px;
}
.fab{
	display: inline-block;
	width: 30px;
	height: 30px;
	background: #333 url(/static/img/logo.png) no-repeat center center;
	background-size: 30px 30px;
	vertical-align: middle;
	margin: 3px;
  border-radius: 50%;	
}
#left a{
	display: block;
	padding: 5px;
	padding-left: 60px;
	color: #fff;
	font-size: 16px;
	font-family: oswald;
	opacity: 0.8;
	border-left: 5px solid transparent;
	padding-right: 10px;
	font-weight: normal;
}
#left a:hover{
	opacity: 1;
	background: rgba(255,255,255,0.1);
	border-left: 5px solid blue;
}
.li00{
	background: url(../img/icons/127.png) no-repeat center left 20px;
	background-size: 22px;
}
.li00:hover{
	background: rgba(255,255,255,0.1) url(../img/icons/123.png) no-repeat center left 20px!important;
	background-size: 22px!important;
}
.li01{
	padding-left: 65px !important;
	font-size: 14px !important;
	color: white!important;
}
.li02{
	padding-left: 70px !important;
	font-size: 14px !important;
	color: aliceblue!important;
}
.li03{
	padding-left: 75px!important;
	font-size: 14px !important;
	color: #c0d5e7 !important;
}
.li04{
	margin-left: 40px;
	font-size: 14px !important;
}
.fullInformation{
	background: #3361ff;
	padding: 20px;
	font-family:oswald;
	color: #FFF;
	font-size: 20px;
	text-align: center;
}
.producto{
	background:#FFF;
	padding: 10px;
}
.img{
	display: inline-block;
	width: 40%;
	height: auto;
	text-align: right;
	/*! background: #D7DDEA; */
	margin:  3px;
	border-radius:  10px;
	vertical-align: top;
}
.img img{
	display: inline-block;
	width: 200px;
	height: auto;
	background: #fff;
	margin:  3px;
	border-radius:  10px;
	vertical-align: top;
}
.producto article{
	display: inline-block;
	width: 40%;
	height: auto;
	background: #FFF;
	margin:  3px;
	/*! border-radius:  10px; */
	vertical-align: middle;
	padding: 10px;
}
.producto article h2{
	font-family: oswald;
	font-size: 22px;
	color: #000;
}
.producto article p{
	font-family: oswald;
	font-size: 16px;
	color: #333;
}
.producto article a{
	font-family: oswald;
	font-size: 16px;
}
.info{
	background: #1a1f32;
	padding: 5px;
	text-align: center;
	color: #fff;
}
.info p{
	display: inline-block;
	background: rgba(255, 255, 255, 0.21);
	color: #fff;
	padding: 5px;
	padding-left: 35px;
	border-radius: 5px;
	font-family: oswald;
	font-size: 14px;
}
.footerBar{
	background: rgba(255,255,255,0.1);
	padding: 10px;
	text-align: center;
}
.footerBar p{
	color: rgba(255, 255, 255, 0.81);
	font-size: 14px;
	font-family: oswald;
	display: inline-block;
}
.footerBar a{
	color: #fff;
	font-size: 16px;
	font-family: oswald;
	display: inline-block;
	border: 1px solid #333;
	padding: 3px;
	border-radius: 5px;
	background: rgba(255,255,255,0.1);
	margin-left: 10px;
}
.footerBar a span{
	display: inline-block;
	vertical-align: middle;
	height: 30px;
	width: 30px;
	background: #fff url(/static/img/icons/ecuador.png) no-repeat center center;
	background-size: 30px;
	margin: 0 10px;
	border-radius: 50%;
}
.objetivo{
	background: #fff;
	padding: 80px;
	text-align: center;
}
.objetivo p{
		color: #000;
	  font-family: roboto;
	  font-size: 18px;
}
.tituloOferta{
	text-align: center;
	padding: 20px;
	font-family: oswald;
	font-size: 24px;
}
.oferta{
	border: 1px solid transparent;
	border-radius: 5px;
	margin: 3px;
	opacity: 0.8;
}
.oferta:hover{
	opacity: 1;
	border: 1px solid #DEE8F3;
}
.video{
	background: #000;
	color: #fff;
	text-align: center;
	padding: 10px;
}
.video iframe{
	display: block;
	margin: 0 auto;
	width: 90%; 
}
.somos{
	background: #333 url(/static/img/back01.jpg)no-repeat center center;
	background-size: 100% 100%;
	background-attachment: fixed;
	min-height: 100%;
}
.titulo{
	padding: 10px;
	text-align: center;
	background: #1f314d;
	color: #fff;
	font-family: oswald;
}
.somos span{
	text-align:left;
	margin: 20px!important;
	display: inline-block;
	font-family:oswald;
	font-size: 14px;
	text-transform: uppercase;
	border-bottom: 5px solid #215def;
}
.contacto span{
	text-align:left;
	margin: 20px!important;
	display: inline-block;
	font-family:oswald;
	font-size: 14px;
	text-transform: uppercase;
	border-bottom: 5px solid #215def;
}
.slogan{
	padding: 100px;
	color: #fff;
	text-align: center;
	font-size: 20px;
	background: rgba(2, 23, 30, 0.8);
}
.valores{
	background: #e9eff3;
	padding: 5px;
	text-align: center;
}
.valores p{
	padding: 20px;
	font-size: 16px;
	background: rgba(255, 255, 255, 0.54);
	margin: 10px;
	border-radius: 5px;
}
.valores strong{
	padding-right: 10px;
	font-family: oswald;
	font-weight: normal;
}
.mision{
	display: inline-block;
	vertical-align: top;
	width: 50%;
	padding: 40px;
	color: #fff;
	text-align: center;
	background: #1e2d4b;
}
.vision{
	display: inline-block;
	vertical-align: top;
	width: 50%;
	padding: 40px;
	color: #fff;
	text-align: center;
	background: #2b2a47;
}
.contacto{
	padding-top: 40px;
	min-height: 100%;
	background: #2e4453;
}
.contacto iframe{
	width: 100%;
	height: 100%;
}
.map{
	width: 50%;
	display: inline-block;
	vertical-align: top;
	background: #000
}
.infoC{
	width: 50%;
	display: inline-block;
	vertical-align: top;
	background: #2e4453;
	padding: 20px;
	color: #fff;
}
.blog{
	height: 80%;
	color: #fff;
}
.blogL{
	width: 50%;
	vertical-align: top;
	display: inline-block;
	background: rgba(255, 255, 255, 0.8);
	text-align: center;
	padding: 40px;
	/*! height: 100%; */
	line-height: 1.6;
		overflow-x: hidden;
	overflow-y:auto;
	height: 100%;
}
.blogL p{
	text-align: left;
	color: #333;
	
}
.blogL h2{
	text-align: left;
	color: #333;
	text-align: center;
	padding: 10px;
}
.blogR{
	width: 50%;
	vertical-align: top;
	display: inline-block;
	background: #333;
	height: 100%;
	overflow-x: hidden;
	overflow-y:auto;
}

.infoC p{
	padding: 5px 20px;
}
.articuloContainer img{
	width: 160px;
	height: 160px;
	border-radius: 3px;
}

.articuloContainer{
	display: table;
	background: #fff;
  width: 100%;
	padding: 5px;
	opacity: 0.9;
}
.articuloContainer:hover{
	opacity: 1;
}
.aL{
	display: table-cell;
	vertical-align: top;
	width: 180px;
}
.aR{
	padding: 20px;
}
.aR h2{
	color: #000;
	font-family: oswald;
	font-weight: normal;
	font-size: 20px;
}
.aR p{
	font-size: 14px;
	color: #333;
}
.pagination{
	display: block;
	padding: 10px;
}
.pagination li{
	display: inline-block;
	vertical-align: top;
}
.pagination li a{
	padding: 10px;
	background: #3361FF;
	opacity: 0.8;
	display: block;
	color: #fff;
	font-family: oswald;
	border-radius: 5px;
	font-size: 18px;
}
.pagination li a:hover{
	opacity: 1;
}

@media screen and (max-width:930px){
	
.blogL{
	width: 100%;
	height: auto;
}
	.blogR{
	width: 100%;
		height: auto;
}
	.blog{
		height: auto;
	}

	.map{
		width: 100%;
		height: 200px;
	}
	.infoC{
		width: 100%;
	}
}

@media screen and (max-width:1030px){
	
	.top{
		text-align: right;
		padding-left: 233px;
		position: relative
	}
}