{% extends 'base.html' %}

{% block title %}Login{% endblock title %}

{% block content %}

<section class="forma">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="page-header"><h2>IO</h2></div>
            {% if mensaje %}
                <div class="alert alert-danger">
                    {{ mensaje }}
                </div>
            {% endif %}

            <form method="post" action="">
                {% csrf_token %}
                <div class="form-group">
             <!--       <label class="control-label" for="username">Nombre de usuario</label> -->
                    <input placeholder="Username" type="text" id="username" name="username" class="form-control" value="{{ username }}">
                </div>
                <div class="form-group">
                <!--    <label for="password">Contraseña</label> -->
                    <input placeholder="Key"  type="password" name="password" id="password" class="form-control">
                </div>
                <button type="submit" class="look">Continue IO</button>
            </form>
        </div>
    </div>

    <p class="loginBottom">¿Dont playing yet? <a href="{% url 'accounts.registro'%}">+ New IO</a></br> <p class="loginBottom"><a href="{% url 'accounts.registro'%}">¿Lost key?</a></br><a href="/">Back</a></p>

</section>

        <!--MENU BOTTOM -->
        <a href="/"><section class="formBack"></section></a>

{% endblock content %}