{% extends 'base.html' %}

{% block title %}Login{% endblock title %}

{% block content %}
{% for config in config %}
<style type="text/css">
.page-header{
    background: {{config.color01}}!important;
}
.formBack{
    background: {{config.color}} url(/media/{{config.logo}}) no-repeat center center!important;
    background-size: auto 80%!important;
}
.look{
    background: url(/static/img/icons/6.png) {{config.color02}} no-repeat 10px center!important;
    background-size: 30px!important;
}
#id_body{
    border: 3px solid {{config.color02}};
}
#id_section{
    border: 3px solid {{config.color02}};
}
#id_title{
    border: 3px solid {{config.color02}};
}
</style>
{%endfor%}

<section class="forma">
    <article class="containerForm">
        <div class="containerFormDiv">

    <div class="row">
        <div class="col-md-6 col-sm-offset-3">
            <div class="page-header">
                <h2>+IO</h2>
            </div>

            <form method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="look">NEW IO</button>
            </form>
        </div>
    </div>

     <p class="loginBottom">¿Already IO? <a href="{% url 'accounts.login'%}">Continue IO</a></br><a href="/">Back</a></p>

      <!--MENU BOTTOM -->
        <a href="/"><section class="formBack"></section></a>

</div>
</article>
</section>   


{% endblock content %}