{% extends 'blog/base_blog.html' %}

{% block title %}{% for config in config %}{{config.webName}}{% endfor %}{% endblock title %}

{% block blog_content %}

 <section class="portada" id="portada">

    <section class="blog">
    {% include 'blog/modules/_top.html' %}
    {% include 'blog/modules/_left.html' %}
    	
    	<div class="blogL">
            {%for articulo in articulo%}
            {%if articulo.slug == link.slug %}
    <!--        <style type="text/css">
                .portada {
                background: #333 url(/media/{{articulo.foto}})no-repeat center center;
                background-size: 100% 100%;
                background-attachment: fixed;
                    }
                #art{{articulo.id}}{
                    display: none;
                }
            </style> -->
            {% if articulo.foto %}
            <img src="/media/{{articulo.foto}}">{%else%}
            <img src="/static/img/logo.png">
            {%endif%}
            </br>
    		<h2>{{articulo.titulo}}</h2>
            <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-mobile-iframe="true"></div>
            </br>
            <p>{{articulo.create_at}}</p>
            </br>
            <p>{{articulo.contenido}}</p>
            </br>
            <div class="fb-comments" data-href="https://developers.facebook.com/docs/plugins/comments#configurator" data-width="100%" data-numposts="5"></div>
            {%endif%}
            {%endfor%}
    	</div><div class="blogR">
        <h2 class="titulo">Explora nuestro Blog</h2>
    	{% for articulo in articulo %}

        <a href="{% url 'blog.articulo_detail' articulo.slug %}">
    	<article id="art{{articulo.id}}" class="articuloContainer">
    		<div class="aR">
    			<h2>{{articulo.titulo}}</h2>

    			<p>{{articulo.create_at}}</p>
    		</div>
    		<div class="aL">
    			{% if articulo.foto %}
            <img src="/media/{{articulo.foto}}">{%else%}
            <img src="/static/img/logo.png">
            {%endif%}
    		</div>
    	</article>
        </a>
        
    		
    	{%endfor%}
    </section>
        {% include 'blog/modules/_footer.html' %}
    
</section>

{% endblock blog_content %}