{% extends 'blog/base_blog.html' %}

{% block title %}{% for config in config %}{{config.webName}}{% endfor %}{% endblock title %}

{% block blog_content %}

 <section class="portada" id="portada">

    <section class="blog">
    {% include 'blog/modules/_left.html' %}
    	
    	<div class="blogL">
    		<h2>Blog</h2>
    	</div><div class="blogR">
        <h2 class="titulo">Explora nuestro Blog</h2>
    	{% for articulo in articulo %}

        <a href="{% url 'blog.articulo_detail' articulo.slug %}">
    	<article class="articuloContainer">
    		<div class="aR">
    			<h2>{{articulo.titulo}}</h2>
    			<p>{{articulo.create_at}}</p>
    		</div>
            <div class="aL">
            {% if articulo.foto %}
            <img src="/media/{{articulo.foto}}">{%else%}
            <img src="/static/img/logo.png">
            {%endif%}
            
            </div>
    	</article></a>
    		
    	{%endfor%}
    </section>
        {% include 'blog/modules/_top.html' %}
        {% include 'blog/modules/_footer.html' %}
    
</section>

{% endblock blog_content %}