{% extends 'blog/base_blog.html' %}

{% block title %}{% for config in config %}{{config.webName}}{% endfor %}{% endblock title %}

{% block blog_content %}

{% include 'blog/modules/_left.html' %}

{% for categoria in categoria %}
{% if categoria.slug == link.slug %}

<style type="text/css">
   #cat{{categoria.id}} {
    border-left: 5px solid #00F!important;
    background: rgba(255,255,255,0.1) url(/static/img/icons/123.png) no-repeat center left 20px!important;
	background-size: 22px!important;
   }
</style>

 <section class="portadaClose" id="portada">

    {% include 'blog/modules/_top.html' %}

    <h2 class="titulo">Productos</h2>
    
    {% include 'blog/modules/_banner.html' %}

    {% include 'blog/modules/_productos.html' %}

{% endif %}
{% endfor %}
    
{% include 'blog/modules/_marcas.html' %}
    {% include 'blog/modules/_footer.html' %}
</section>

{% endblock blog_content %}