{% extends 'blog/base_blog.html' %}

{% block title %}{% for config in config %}{{config.webName}}{% endfor %}{% endblock title %}

{% block blog_content %}

{% include 'blog/modules/_top.html' %}

{% include 'blog/modules/_left.html' %}

<section class="contacto">
	<h2 class="titulo">Contacto</h2>
	<article class="map">
		<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d15959.187553203123!2d-78.48086640000001!3d-0.1877989!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sec!4v1463605547571" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
	</article><article class="infoC">

	<div class="tiendas">
	<h2>Tienda en Guayaquil</h2>
	<span>Dirección</span>
	<p>Calle villareal edif 88</p>
	<span>Teléfonos</span>
	<p>Telf: 3873483</p>
	</div>

	<div class="tiendas">
	<h2>Tienda en Loja</h2>
	<span>Dirección</span>
	<p>Calle villareal edif 88</p>
	<span>Teléfonos</span>
	<p>Telf: 3873483</p>
	</div>

	<div class="tiendas">
	<h2>Tienda en Lima</h2>
	<span>Dirección</span>
	<p>Calle villareal edif 88</p>
	<span>Teléfonos</span>
	<p>Telf: 3873483</p>
	</div>

	</article>
</section>

    {% include 'blog/modules/_footer.html' %}
</section>

{% endblock blog_content %}