{% extends 'blog/base_blog.html' %}

{% block title %}{% for config in config %}{{config.webName}}{% endfor %}{% endblock title %}

{% block blog_content %}

{% for fabricante in fabricante %}
{% if fabricante.slug == link.slug %}

 <section class="portada" id="portada">

    {% include 'blog/modules/_top.html' %}

    {% include 'blog/modules/_left.html' %}

    <h2 class="titulo">Productos</h2>
    
    {% include 'blog/modules/_banner.html' %}
    
    {% include 'blog/modules/_productos.html' %}

{% endif %}
{% endfor %}
    
{% include 'blog/modules/_marcas.html' %}
    {% include 'blog/modules/_footer.html' %}
</section>

{% endblock blog_content %}