{% extends 'blog/base_blog.html' %}

{% block title %}{% for config in config %}{{config.webName}}{% endfor %}{% endblock title %}

{% block blog_content %}

 <section class="portada" id="portada">
    {% include 'blog/modules/_top.html' %}

    {% include 'blog/modules/_left.html' %}

    {% include 'blog/modules/_banner.html' %}
    
    <p class="titulo01">DISTRIBUIDOR AUTORIZADO</p>

    {% include 'blog/modules/_marcas.html' %}
    
    <section class="objetivo">
        <p>Nuestra misión es brindarte una amplia gama de productos y ofertas del mercado en Insumos Eléctricos</p>
    </section>

    <p  id="productos" class="titulo02">CONOCE NUESTROS PRODUCTOS DESTACADOS</p>

    {% include 'blog/modules/_productos.html' %}

    {% include 'blog/modules/_oferta.html' %}
    {% include 'blog/modules/_publicidad.html' %}
 <!--   {% include 'blog/modules/_mapa.html' %} -->
    {% include 'blog/modules/_footer.html' %}
</section>

{% endblock blog_content %}