{% extends 'blog/base_blog.html' %}

{% block title %}{% for config in config %}{{config.webName}}{% endfor %}{% endblock title %}

{% block blog_content %}

 <section class="portadaClose" id="portada">
    {% include 'blog/modules/_top.html' %}

    {% include 'blog/modules/_left.html' %}
    

    <p  id="productos" class="titulo02">CONOCE TODOS NUESTROS PRODUCTOS</p>

    {% include 'blog/modules/_productos.html' %}
    {% include 'blog/modules/_publicidad.html' %}
 <!--   {% include 'blog/modules/_mapa.html' %} -->
 {% include 'blog/modules/_marcas.html' %}
    {% include 'blog/modules/_footer.html' %}
</section>

{% endblock blog_content %}