{% extends 'blog/base_blog.html' %}

{% block title %}{% for config in config %}{{config.webName}}{% endfor %}{% endblock title %}

{% block blog_content %}

{% for producto in producto %}
{% if producto.slug == link.slug %}

<style type="text/css">
   #cat{{producto.categoria.id}} {
    border-left: 5px solid #00F!important;
    background: rgba(255,255,255,0.1) url(/static/img/icons/123.png) no-repeat center left 20px!important;
    background-size: 22px!important;
   }

</style>

 <section class="portadaClose" id="portada">

    {% include 'blog/modules/_top.html' %}

    {% include 'blog/modules/_left.html' %}

    <h2 class="titulo">Productos</h2>

    <nav class="info">
        <a id="pr{{producto.id}}" href="{% url 'blog.fabricante_detail' producto.fabricante.slug %}"><p>{{producto.fabricante.titulo}}</p></a> -->
        <a id="cats{{producto.id}}" href="{% url 'blog.categoria_detail' producto.categoria.slug %}"><p>{{producto.categoria.titulo}}</p></a>
    
        <style type="text/css">
            #pr{{producto.id}}{
                background: url(/media/{{producto.fabricante.foto}}) no-repeat left 5px center;
                background-size: 25px 25px;
            }
            #cats{{producto.id}}{
                background: url(/static/img/icons/127.png) no-repeat left 5px center;
                background-size: 25px 25px;
            }
        </style>
</nav>

    {% include 'blog/modules/_oferta.html' %}

{% endif %}
{% endfor %}

    {% include 'blog/modules/_marcas.html' %}
    {% include 'blog/modules/_footer.html' %}
</section>



{% endblock blog_content %}