{% load staticfiles %}
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="/static/css/main.css?v=1.0.0">
    <script src="{% static 'js/main.js' %}"></script>
    <link href="http://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js" type="text/javascript"></script>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  {%for config in config%}
<link rel="icon" type="image/png" sizes="16x16" href="/media/{{config.favicon}}">
{%endfor%}
  
</head>

<body>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.6";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

{%for config in config%}
{{config.addons|safe}}
{%endfor%}


{% include "_messages.html" %}
{% block content %}{% endblock content %}



</body>
</html>
